@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
body {
  font-family: "Roboto";
  font-style: normal;
}
body h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: white;
}

.box {
  width: 1120px;
  height: 1284px;
  position: absolute;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 256px;
  grid-auto-columns: 256px;
  gap: 30px;
}
.item {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  padding: 20px;
}
.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
  padding: 20px 30px 20px 30px;
}
.item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
  padding: 20px 30px 20px 30px;
}
